@import 'base/variables';
@import 'base/mixins';
@import 'base/animation';

@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/tiny-slider';
@import 'libs/animate';


* {
   font-family: 'MuseoModerno', sans-serif;
}


.container {
   position: relative;
   max-width: 950px;
   margin: 0 auto;
}

@import 'block/promo';
@import 'block/header';
@import 'block/button';
@import 'block/benefits';
@import 'block/title';
@import 'block/form';
@import 'block/consultation';
@import 'block/carousel';
@import 'block/catalog';
@import 'block/reviews';
@import 'block/footer';
@import 'block/overlay';
@import 'block/page-up';


@import 'base/media';