.page-up {
   display: none;
   position: fixed;
   right: 40px;
   bottom: 40px;
   width: 40px;
   height: 40px;
   border-radius: 100%;
   transition: .4s box-shadow, transform, opacity;
   opacity: .7;
   &:hover {
      box-shadow: 1px 1px 5px black;
      transform: scale(1.01);
      opacity: 1;
   }
   &:active {
      box-shadow: 3px 3px 20px $main-color;
      transform: scale(.98);
   }
   img {
      width: 100%;
      filter: drop-shadow(0px 1px 1px rgb(0 0 0 / 1.4));
   }
}