.reviews {
   padding-bottom: 55px;
   &__item {
      display: flex;
      margin-top: 60px;
   }
   &__img {
      img {
         width: 169px;
         height: 169px;
      }
   }
   &__content {
      margin-left: 61px;
      max-width: 680px;
   }
   &__name {
      font-weight: 700;
      font-size: 18px;
      color: #0D0D0D;
      line-height: 18px;
   }
   &__marathons {
      font-weight: 500;
      font-size: 14px;
      color: #646464;
   }
   &__text {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #0D0D0D;
   }
}